body {
  background-color: grey;
  text-align: center;
}
.app {
  transition: all ease 5s;
}
.video-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: fill;
  z-index: -1;
}
.input-form {
  margin: 2px 0 10px 0px;
}
.submit {
  transition: all ease 0.5s;
  cursor: pointer;
}
.submit:hover {
  background-color: blue;
  color: aliceblue;
}
.cancel {
  transition: all ease 0.5s;
}
.cancel:hover {
  background-color: orange;
  color: black;
}
