body {
  background-color: grey;
  text-align: center;
}
.app {
  transition: all ease 5s;
}
.video-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: fill;
  z-index: -1;
}
.input-form {
  margin: 2px 0 10px 0px;
}
.submit {
  transition: all ease 0.5s;
  color: white;
  background-color: rgba(10, 9, 9, 0.2);
  cursor: pointer;
  height: 5.7vh;
  width: 10vw;
  font-family: "Lucida Console", "Monaco", Times, "Times New Roman", serif;
  border: 3px solid rgb(49, 209, 209);
  box-shadow: 2px 2px 10px 2px greenyellow;
}
.submit:hover {
  background-color: rgb(56, 248, 8);
  color: black;
  border: 3px solid rgb(207, 155, 87);
  box-shadow: 2px 2px 10px 2px rgb(144, 212, 80);
}
.cancel {
  transition: all ease 0.5s;
  color: white;
  background-color: rgba(10, 9, 9, 0.2);
  cursor: pointer;
  height: 5.7vh;
  width: 10vw;
  font-family: "Lucida Console", "Monaco", Times, "Times New Roman", serif;
  border: 3px solid rgb(49, 209, 209);
  box-shadow: 2px 2px 10px 2px greenyellow;
}
.cancel:hover {
  background-color: rgb(247, 44, 111);
  color: black;
  border: 3px solid rgb(52, 233, 149);
  box-shadow: 2px 2px 10px 2px rgb(144, 212, 80);
}
.cancel:hover {
  background-color: orange;
  color: black;
}
.input-text {
  background-color: rgb(0, 0, 0, 0.1);
  height: 10vh;
  font-size: 20px;
  width: 20vw;
  font-family: "Monaco", Times, "Times New Roman", serif;
  color: white;
  border: 3px solid rgb(49, 209, 209);
  box-shadow: 2px 2px 10px 2px greenyellow;
}
